Addressbook/src/main/resources/wsdl/addressbook.wsdl

<?xml version="1.0"?>
<wsdl:definitions name="Address Book"
                  targetNamespace="http://addressbook.com/contact"
                  xmlns:tns="http://addressbook.com/contact"
                  xmlns:types="http://addressbook.com/contact"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
                  
	<wsdl:types>
        <xs:schema
                targetNamespace="http://addressbook.com/contact"
                xmlns:xs="http://www.w3.org/2001/XMLSchema"
                xmlns:tns="http://addressbook.com/contact"
                elementFormDefault="qualified"
                version="1.0">
           	
           	<xs:complexType name="contactInfo">
		        <xs:sequence>
		           	<xs:element name="id" type="xs:int"/>
		                <xs:element name="name" type="xs:string"/>
		                <xs:element name="address" type="xs:string"/>
		                <xs:element name="city" type="xs:string"/>
		                <xs:element name="state" type="xs:string"/>
		                <xs:element name="zipcode" type="xs:int"/>
		                <xs:element name="phonenumber" type="xs:string"/>              
		        </xs:sequence>
		    </xs:complexType>
		    
		    <xs:complexType name="contactInfoWithoutId">
		        <xs:sequence>
		                <xs:element name="name" type="xs:string" />
		                <xs:element name="address" type="xs:string" />
		                <xs:element name="city" type="xs:string"/>
		                <xs:element name="state" type="xs:string"/>
		                <xs:element name="zipcode" type="xs:int"/>
		                <xs:element name="phonenumber" type="xs:string"/>
		        </xs:sequence>
		    </xs:complexType>
    		
	        <xs:element name="addContactRequest">
		        <xs:complexType>
		            <xs:sequence>
		                <xs:element name="contactInfoWithoutId" type="tns:contactInfoWithoutId"/>
		            </xs:sequence>
		        </xs:complexType>
	    	</xs:element>
	    	
	    	<xs:complexType name="serviceStatus">
		        <xs:sequence>
		            <xs:element name="message" type="xs:string"/>
		        </xs:sequence>
    		</xs:complexType> 
    		
    		<xs:element name="addContactResponse">
		        <xs:complexType>
		            <xs:sequence>
		                <xs:element name="serviceStatus" type="tns:serviceStatus"/>            
		                <xs:element name="contactInfo" type="tns:contactInfo"/>
		            </xs:sequence>
		        </xs:complexType>
		    </xs:element>    
		    
		    <xs:element name="getContactByIdRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="id" type="xs:int" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="getContactByIdResponse">
				<xs:complexType>
					<xs:sequence>
					 	<xs:element name="serviceStatus" type="tns:serviceStatus"/>   
						<xs:element name="contactInfo" type="tns:contactInfo" />
					</xs:sequence>
				</xs:complexType>
			</xs:element> 
			
			 <xs:element name="getAllContactRequest">
		        <xs:complexType/>
		    </xs:element>    
		    <xs:element name="getAllContactResponse">
		        <xs:complexType>
		            <xs:sequence>
		            	<xs:element name="serviceStatus" type="tns:serviceStatus"/>   
		                <xs:element name="contactInfo" type="tns:contactInfo" maxOccurs="unbounded"/>
		            </xs:sequence>
		        </xs:complexType>
		    </xs:element> 
		    
		    <xs:element name="deleteContactRequest">
		        <xs:complexType>
		            <xs:sequence>
		               <xs:element name="id" type="xs:int"/>
		            </xs:sequence>
		        </xs:complexType>
		    </xs:element>
		    
		    <xs:element name="deleteContactResponse">
		        <xs:complexType>
		            <xs:sequence>
		                <xs:element name="serviceStatus" type="tns:serviceStatus"/>
		            </xs:sequence>
		        </xs:complexType>
		    </xs:element> 
		    
		     <xs:element name="updateContactRequest">
		        <xs:complexType>
		            <xs:sequence>
		               	<xs:element name="contactInfo" type="tns:contactInfo" />
		            </xs:sequence>
		        </xs:complexType>
		    </xs:element>
		    <xs:element name="updateContactResponse">
		        <xs:complexType>
		            <xs:sequence>
		                <xs:element name="serviceStatus" type="tns:serviceStatus"/>
		            </xs:sequence>
		        </xs:complexType>
		    </xs:element>  
		    
		</xs:schema>
    </wsdl:types>
    
    <wsdl:message name="addContactRequest">
        <wsdl:part name="addContactRequest" element="types:addContactRequest" />
    </wsdl:message>

    <wsdl:message name="addContactResponse">
        <wsdl:part name="addContactResponse" element="types:addContactResponse" />
    </wsdl:message>
    
     <wsdl:message name="getContactByIdRequest">
        <wsdl:part name="getContactByIdRequest" element="types:getContactByIdRequest" />
    </wsdl:message>

    <wsdl:message name="getContactByIdResponse">
        <wsdl:part name="getContactByIdResponse" element="types:getContactByIdResponse" />
    </wsdl:message>
    
    <wsdl:message name="getAllContactRequest">
        <wsdl:part name="getAllContactRequest" element="types:getAllContactRequest" />
    </wsdl:message>

    <wsdl:message name="getAllContactResponse">
        <wsdl:part name="getAllContactResponse" element="types:getAllContactResponse" />
    </wsdl:message>
    
    <wsdl:message name="deleteContactRequest">
        <wsdl:part name="deleteContactRequest" element="types:deleteContactRequest" />
    </wsdl:message>

    <wsdl:message name="deleteContactResponse">
        <wsdl:part name="deleteContactResponse" element="types:deleteContactResponse" />
    </wsdl:message>
    
    <wsdl:message name="updateContactRequest">
        <wsdl:part name="updateContactRequest" element="types:updateContactRequest" />
    </wsdl:message>

    <wsdl:message name="updateContactResponse">
        <wsdl:part name="updateContactResponse" element="types:updateContactResponse" />
    </wsdl:message>
    
    <wsdl:portType name="AddressBookPort">
		<wsdl:operation name="addContact">
			<wsdl:input message="tns:addContactRequest" name="addContactRequest"> </wsdl:input>
			<wsdl:output message="tns:addContactResponse" name="addContactResponse"> </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getContactById">
			<wsdl:input message="tns:getContactByIdRequest" name="getContactByIdRequest"> </wsdl:input>
			<wsdl:output message="tns:getContactByIdResponse" name="getContactByIdResponse"> </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getAllContact">
			<wsdl:input message="tns:getAllContactRequest" name="getAllContactRequest"> </wsdl:input>
			<wsdl:output message="tns:getAllContactResponse" name="getAllContactResponse"> </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="deleteContact">
			<wsdl:input message="tns:deleteContactRequest" name="deleteContactRequest"> </wsdl:input>
			<wsdl:output message="tns:deleteContactResponse" name="deleteContactResponse"> </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="updateContact">
			<wsdl:input message="tns:updateContactRequest" name="updateContactRequest"> </wsdl:input>
			<wsdl:output message="tns:updateContactResponse" name="updateContactResponse"> </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	
	<wsdl:binding name="AddressBookBinding" type="tns:AddressBookPort">
	<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="addContact">
		<soap:operation soapAction=""/>
			<wsdl:input name="addContactRequest">
			<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="addContactResponse">
			<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="getContactById">
		<soap:operation soapAction=""/>
			<wsdl:input name="getContactByIdRequest">
			<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getContactByIdResponse">
			<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="getAllContact">
		<soap:operation soapAction=""/>
			<wsdl:input name="getAllContactRequest">
			<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getAllContactResponse">
			<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="deleteContact">
		<soap:operation soapAction=""/>
			<wsdl:input name="deleteContactRequest">
			<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="deleteContactResponse">
			<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="updateContact">
		<soap:operation soapAction=""/>
			<wsdl:input name="updateContactRequest">
			<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="updateContactResponse">
			<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		
	</wsdl:binding>
	
	<wsdl:service name="AddressBookPortService">
		<wsdl:port binding="tns:AddressBookBinding" name="AddressBookBinding">
		<soap:address location="http://localhost:8080/ws/addressbook"/>
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>